@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}

@model SliderCreateDto


<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Name" class="form-label">@localizer["Name"]</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Url" class="form-label">@localizer["Url"]</label>
        <input class="form-control" asp-for="Url">
        <span class="text-danger" asp-validation-for="Url"></span>
    </div>

    <div class="mb-3 image-box">
        <label asp-for="ImageFile" class="form-label">@localizer["Image"]</label>
        <input asp-for="ImageFile" class="form-control file" style="margin:20px 0px">
        <img style="width:300px;height:300px;object-fit:cover;" />
    </div>

    <div style="margin:15px 0px;">
        <label asp-for="LanguageId" class="form-label">@localizer["Language"]</label>
        <select class="form-control" asp-for="LanguageId" asp-items="@new SelectList((List<Language>)ViewBag.Languages,nameof(Language.Id),nameof(Language.Name))"></select>
        <span class="text-danger" asp-validation-for="LanguageId"></span>
    </div>


    <div style="margin:10px 0px;">
        @if (ViewBag.BelongLanguages != null)
        {
            foreach (var item in ViewBag.BelongLanguages)
            {
                <span class="badge bg-label-dark" style="padding: 10px;">@item</span>
            }
        }
    </div>

    <button type="submit" class="btn btn-outline-dark my-3">@localizer["Submit"]</button>
</form>


@section Scripts{
    <script src="~/manage/assets/js/manage.js"></script>
}